<%- include ("./partials/header") %>
<%- include ("./partials/main_nav") %>
<!-- Main Content -->
<main>
<div class="jumbotron">
<div class="container">
  <h1 class="text-center display-4">Welcome to the Assignment Tracker</h1>
  <p class="text-center lead">Here you can keep track of all your upcoming Assignments to stay organized!</p>
  <hr class="text-center my-4">
  <p class="text-center">Click below to add your first Assignment</p>
  <p class="text-center lead">
  <div class="container text-center">
    <a class="btn btn-primary btn-lg" href="#" role="button">Add a Assignment</a>
  </p>
</div>
    
    
  </div>
</div>
</main>
<%- include ("./partials/bottom_nav") %>
<%- include ("./partials/footer") %>


