<%- include ("./partials/header") %>
<%- include ("./partials/main_nav") %>
<!-- Main Content -->
<main>
  <div class="jumbotron jumbotron-fluid">
  <div class="container">

    <h1 class=" text-center display-4" >Welcome to the Assignment Tracker </h1>
    <h3 class=" text-center display-9">Here you can keep track of all your upcoming Assignments to stay organized! </h3>
    <h5 class=" text-center display-9">Click below to add your first Assignment  </h5>

    <div class="container text-center">
      <a href="/assignment-list/add" class="btn btn-primary" role="button">
                <i class= "fas fa-plus-circle"></i> Add a Assignment
            </a>
    </div>
    
    
  </div>
</div>
</main>
<%- include ("./partials/bottom_nav") %>
<%- include ("./partials/footer") %>


