<%- include ("./partials/header") %>
<%- include ("./partials/main_nav") %>
<!-- Main Content -->
<main>
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to the Assignment Tracker </h1>
    <h3 class="display-9">Here you can keep track of all your upcoming Assignments to stay organized! </h3>

  </div>
</div>
</main>
<%- include ("./partials/bottom_nav") %>
<%- include ("./partials/footer") %>


