<%- include ("./partials/header") %>
<%- include ("./partials/main_nav") %>
<!-- Main Content -->
<main>
  <div class="jumbotron jumbotron-fluid">
  <div class="container">

    <h1 class=" text-center display-4" >Welcome to the Assignment Tracker </h1>
    <h3 class=" text-center display-9">Here you can keep track of all your upcoming Assignments to stay organized! </h3>
    <h5 class=" text-center display-9">Click below to add your first Assignment  </h5>

    <div class="container text-center">
      <a href="/assignment-list/add" class="btn btn-primary" role="button">
                <i class= "fas fa-plus-circle"></i> Add a Assignment
            </a>
    </div>
    
    
  </div>
</div>
</main>
<%- include ("./partials/bottom_nav") %>
<%- include ("./partials/footer") %>

<div class="jumbotron">
  <h1 class="display-4">Welcome to the Assignment Tracker</h1>
  <p class="lead">Here you can keep track of all your upcoming Assignments to stay organized!</p>
  <hr class="my-4">
  <p>Click below to add your first Assignment</p>
  <p class="lead">
  <div class="container text-center">
    <a class="btn btn-primary btn-lg" href="#" role="button">Add a Assignment</a>
  </p>
</div>
